* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, serif;
}

body {

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

header a {
    color: black;
}

.logo {
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li {

    list-style-type: none;
}

#slider {
    padding: 20px 80px;
}

.slider {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.slide {
    margin: 0 8%;
    min-width: 84%;
    height: 450px;
    animation: slide 20s infinite;
    border-radius: 25px;
    background-color: darkorange;
    padding: 40px;
}

@keyframes slide {
    0%, 20% {
        transform: translateX(0%);
    }
    20%, 40% {
        transform: translateX(-119%);
    }
    40%, 60% {
        transform: translateX(-238%);
    }
    80%, 100% {
        transform: translateX(-357%);
    }
}

.employees {
    padding: 20px 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
}

.employees div {
    width: 32%;
    aspect-ratio: 1 / 1;
    box-shadow: -7px 10px 21px rgba(0, 0, 0, 0.2);
    margin-bottom: 2%;
}

.employees img {
    width: 100%;
}